<Layout>
    <Buttons type="warning" size="large">警告按钮</Buttons>
    <Buttons type="success">成功按钮</Buttons>
    <Buttons type="info" size="small">信息按钮</Buttons>
    <Buttons type="danger" size="mini">危险按钮</Buttons>
    <Buttons type="primary" size="mini">主要按钮</Buttons>
    <br>
    <Buttons type="warning" size="large" plain>警告按钮</Buttons>
    <Buttons type="success" plain>成功按钮</Buttons>
    <Buttons type="info" size="small" plain>信息按钮</Buttons>
    <Buttons type="danger" size="mini" plain>危险按钮</Buttons>
    <Buttons type="primary" size="mini" plain>主要按钮</Buttons>
    <Buttons type="default" plain>主要按钮</Buttons>
    <Buttons>默认按钮</Buttons>
    <br>
    <Buttons type="default" :disabled="true">禁用按钮</Buttons>
    <br>
    <Buttons type="loading">加载中...</Buttons>
</Layout>